.header {
    width: 100%;
    min-height: 100vh;
    padding: 0px 0px;

    .headTitle {
        margin: 25px 0px 10px 20px;
    }

    .main {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .contacts {
            width: 1000px;
            background: rgb(255, 255, 255);
            padding: 0px 20px;

            .section {
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 15px 0px;

                .searchBox {
                    width: 400px;
                    height: 40px;
                    border-radius: 5px;
                    border: solid 2px rgba(0, 0, 0, 0.5);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0px 10px 0px 0px;

                    .search {
                        width: 93%;
                        height: 100%;
                        border: none;
                        outline: none;
                        padding: 0px 10px;
                        font-size: 14px;
                        &::placeholder {
                            font-size: 14px;
                        }
                    }
                }

                .label {
                    width: 150px;
                    height: 40px;
                    border-radius: 5px;
                    color: white;
                    background: rgb(111, 0, 255);
                    font-size: 14px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .file {
                        width: 0px;
                        height: 0px;
                    }
                }
            }

            .headTitles {
                width: 100%;
                height: 50px;
                background: rgb(197, 194, 194);
                padding: 0px 30px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .headTitles_text {
                    position: relative;
                    margin: 0;
                    color: black;
                    font-size: 15px;
                    font-weight: 600;
                    &:nth-child(2) {
                        left: 15px;
                    }
                    &:nth-child(3) {
                        left: 70px;
                    }
                    &:nth-child(4) {
                        left: 75px;
                    }
                    &:nth-child(5) {
                        left: 50px;
                    }
                    &:nth-child(6) {
                        left: 20px;
                    }
                }
            }

            .contactInner {
                .contact {
                    width: 100%;
                    height: 60px;
                    border-bottom: solid 1px rgba(0, 0, 0, 0.5);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    transition: .3s ease-in-out;
                    cursor: pointer;
                    &:hover {
                        background: rgba(0, 0, 0, 0.171);
                    }

                    .checkbox {
                        position: relative;
                        left: 5px;
                    }

                    .contactInfo {
                        position: relative;
                        margin: 0;
                        font-size: 14px;
                        width: 100px;
                        text-align: left;
                        &:nth-child(2) {
                            left: 10px;
                        }
                        &:nth-child(3) {
                            left: 13px;
                        }
                        &:nth-child(4) {
                            left: 50px;
                        }
                        &:nth-child(5) {
                            left: 54px;
                        }
                        &:nth-child(6) {
                            left: 55px;
                        }
                    }
                }
            }
        }

        .addInputsHead {
            position: relative;
            margin-top: 15px;
            width: 400px;
            background: rgba(0, 0, 0, 0.11);
            border-radius: 5px;
            overflow: hidden;

            .addInputs {
                position: fixed;
                width: 311px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .errors {
                    position: relative;
                    width: 100%;
                    top: 5px;
                    height: 8px;
                    padding: 0px 15px;
                    color: red;
                    font-size: 12px;
                    text-align: left;
                }

                .headTitle {
                    font-size: 15px;
                    width: 100%;
                    height: 40px;
                    background: rgb(168, 166, 166);
                    padding: 9px 0px 0px 0px;
                    margin: 0;
                    color: black;
                    display: flex;
                    justify-content: center;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                }

                .input {
                    width: 90%;
                    height: 40px;
                    border-radius: 5px;
                    border: none;
                    margin-top: 15px;
                    padding: 0px 10px;
                    font-size: 14px;
                    &::placeholder {
                        font-size: 14px;
                    }
                }

                .button {
                    width: 90%;
                    height: 40px;
                    border: none;
                    border-radius: 5px;
                    background: rgb(111, 0, 255);
                    color: white;
                    font-size: 14px;
                    margin-top: 15px;
                }

                .buttons {
                    width: 100%;
                    padding: 0px 15px;
                    display: flex;
                    justify-content: space-between;
                    .button_clean {
                        width: 49%;
                        height: 40px;
                        border: none;
                        border-radius: 5px;
                        background: black;
                        color: white;
                        font-size: 14px;
                        margin-top: 5px;
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &:nth-child(2) {
                            background: red;
                        }
                    }
                }
            }
        }
    }
}

/* ---------------- MEDIA --------------- */

@media (max-width: 1900px) {
    .header {
        .main {
            .contacts {
                width: 1300px;
                .headTitles {
                    .headTitles_text {
                        position: relative;
                        &:nth-child(1) {
                            left: 20px;
                        }
                        &:nth-child(2) {
                            left: 20px;
                        }
                        &:nth-child(3) {
                            left: 70px;
                        }
                        &:nth-child(4) {
                            left: 75px;
                        }
                        &:nth-child(5) {
                            left: 50px;
                        }
                        &:nth-child(6) {
                            left: -10px;
                        }
                    }
                }
    
                .contactInner {
                    .contact {
                        .checkbox {
                            position: relative;
                            left: 15px;
                        }
    
                        .contactInfo {
                            position: relative;
                            margin: 0;
                            font-size: 14px;
                            width: 100px;
                            text-align: left;
                            &:nth-child(2) {
                                left: -35px;
                            }
                            &:nth-child(3) {
                                left: -28px;
                            }
                            &:nth-child(4) {
                                left: 36px;
                            }
                            &:nth-child(5) {
                                left: 68px;
                            }
                            &:nth-child(6) {
                                left: 95px;
                            }
                        }
                    }
                }
            }
    
            .addInputsHead {
                .addInputs {
                    width: 388px;
                    .errors {
                        padding: 0px 20px;
                    }
                    .buttons {
                        padding: 0px 20px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1850px) {
    .header {
        .main {
            .contacts {
                .headTitles {
                    .headTitles_text {
                        position: relative;
                        &:nth-child(1) {
                            left: 20px;
                        }
                        &:nth-child(2) {
                            left: 20px;
                        }
                        &:nth-child(3) {
                            left: 70px;
                        }
                        &:nth-child(4) {
                            left: 75px;
                        }
                        &:nth-child(5) {
                            left: 50px;
                        }
                        &:nth-child(6) {
                            left: -10px;
                        }
                    }
                }
    
                .contactInner {
                    .contact {
                        .contactInfo {
                            position: relative;
                            &:nth-child(2) {
                                left: -30px;
                            }
                            &:nth-child(3) {
                                left: -26px;
                            }
                            &:nth-child(4) {
                                left: 36px;
                            }
                            &:nth-child(5) {
                                left: 68px;
                            }
                            &:nth-child(6) {
                                left: 92px;
                            }
                        }
                    }
                }
            }
    
            .addInputsHead {
                .addInputs {
                    width: 376px;
                    .errors {
                        padding: 0px 20px;
                    }
                    .buttons {
                        padding: 0px 20px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1800px) {
    .header {
        .main {
            .contacts {
                width: 1300px;
                .headTitles {
                    .headTitles_text {
                        position: relative;
                        &:nth-child(1) {
                            left: 20px;
                        }
                        &:nth-child(2) {
                            left: 20px;
                        }
                        &:nth-child(3) {
                            left: 70px;
                        }
                        &:nth-child(4) {
                            left: 75px;
                        }
                        &:nth-child(5) {
                            left: 50px;
                        }
                        &:nth-child(6) {
                            left: -10px;
                        }
                    }
                }
    
                .contactInner {
                    .contact {
                        .checkbox {
                            position: relative;
                            left: 15px;
                        }
    
                        .contactInfo {
                            position: relative;
                            margin: 0;
                            font-size: 14px;
                            width: 100px;
                            text-align: left;
                            &:nth-child(2) {
                                left: -26px;
                            }
                            &:nth-child(3) {
                                left: -22px;
                            }
                            &:nth-child(4) {
                                left: 40px;
                            }
                            &:nth-child(5) {
                                left: 68px;
                            }
                            &:nth-child(6) {
                                left: 92px;
                            }
                        }
                    }
                }
            }
    
            .addInputsHead {
                .addInputs {
                    width: 365px;
                    .errors {
                        padding: 0px 20px;
                    }
                    .buttons {
                        padding: 0px 18px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1750px) {
    .header {
        .main {
            .contacts {
                width: 1300px;
                .headTitles {
                    .headTitles_text {
                        position: relative;
                        &:nth-child(1) {
                            left: 20px;
                        }
                        &:nth-child(2) {
                            left: 20px;
                        }
                        &:nth-child(3) {
                            left: 70px;
                        }
                        &:nth-child(4) {
                            left: 75px;
                        }
                        &:nth-child(5) {
                            left: 50px;
                        }
                        &:nth-child(6) {
                            left: -10px;
                        }
                    }
                }
    
                .contactInner {
                    .contact {
                        .checkbox {
                            position: relative;
                            left: 15px;
                        }
    
                        .contactInfo {
                            position: relative;
                            margin: 0;
                            font-size: 14px;
                            width: 100px;
                            text-align: left;
                            &:nth-child(2) {
                                left: -20px;
                            }
                            &:nth-child(3) {
                                left: -19px;
                            }
                            &:nth-child(4) {
                                left: 40px;
                            }
                            &:nth-child(5) {
                                left: 66px;
                            }
                            &:nth-child(6) {
                                left: 86px;
                            }
                        }
                    }
                }
            }
    
            .addInputsHead {
                .addInputs {
                    width: 352px;
                    .errors {
                        padding: 0px 20px;
                    }
                    .buttons {
                        padding: 0px 18px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1700px) {
    .header {
        .main {
            .contacts {
                width: 1300px;
                .headTitles {
                    .headTitles_text {
                        position: relative;
                        &:nth-child(1) {
                            left: 20px;
                        }
                        &:nth-child(2) {
                            left: 20px;
                        }
                        &:nth-child(3) {
                            left: 70px;
                        }
                        &:nth-child(4) {
                            left: 75px;
                        }
                        &:nth-child(5) {
                            left: 50px;
                        }
                        &:nth-child(6) {
                            left: -10px;
                        }
                    }
                }
    
                .contactInner {
                    .contact {
                        .checkbox {
                            position: relative;
                            left: 15px;
                        }
    
                        .contactInfo {
                            position: relative;
                            margin: 0;
                            font-size: 14px;
                            width: 100px;
                            text-align: left;
                            &:nth-child(2) {
                                left: -15px;
                            }
                            &:nth-child(3) {
                                left: -15px;
                            }
                            &:nth-child(4) {
                                left: 40px;
                            }
                            &:nth-child(5) {
                                left: 64px;
                            }
                            &:nth-child(6) {
                                left: 86px;
                            }
                        }
                    }
                }
            }
    
            .addInputsHead {
                .addInputs {
                    width: 343px;
                    .errors {
                        padding: 0px 20px;
                    }
                    .buttons {
                        padding: 0px 17px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1700px) {
    .header {
        .main {
            .contacts {
                width: 1300px;
                .headTitles {
                    .headTitles_text {
                        position: relative;
                        &:nth-child(1) {
                            left: 20px;
                        }
                        &:nth-child(2) {
                            left: 20px;
                        }
                        &:nth-child(3) {
                            left: 70px;
                        }
                        &:nth-child(4) {
                            left: 75px;
                        }
                        &:nth-child(5) {
                            left: 50px;
                        }
                        &:nth-child(6) {
                            left: -10px;
                        }
                    }
                }
    
                .contactInner {
                    .contact {
                        .checkbox {
                            position: relative;
                            left: 15px;
                        }
    
                        .contactInfo {
                            position: relative;
                            margin: 0;
                            font-size: 14px;
                            width: 100px;
                            text-align: left;
                            &:nth-child(2) {
                                left: -9px;
                            }
                            &:nth-child(3) {
                                left: -11px;
                            }
                            &:nth-child(4) {
                                left: 42px;
                            }
                            &:nth-child(5) {
                                left: 64px;
                            }
                            &:nth-child(6) {
                                left: 80px;
                            }
                        }
                    }
                }
            }
    
            .addInputsHead {
                .addInputs {
                    width: 330px;
                    .errors {
                        padding: 0px 20px;
                    }
                    .buttons {
                        padding: 0px 17px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1650px) {
    .header {
        .main {
            .contacts {
                width: 1300px;
                .headTitles {
                    .headTitles_text {
                        position: relative;
                        &:nth-child(1) {
                            left: 20px;
                        }
                        &:nth-child(2) {
                            left: 20px;
                        }
                        &:nth-child(3) {
                            left: 70px;
                        }
                        &:nth-child(4) {
                            left: 75px;
                        }
                        &:nth-child(5) {
                            left: 50px;
                        }
                        &:nth-child(6) {
                            left: -10px;
                        }
                    }
                }
    
                .contactInner {
                    .contact {
                        .checkbox {
                            position: relative;
                            left: 15px;
                        }
    
                        .contactInfo {
                            position: relative;
                            margin: 0;
                            font-size: 14px;
                            width: 100px;
                            text-align: left;
                            &:nth-child(2) {
                                left: -3px;
                            }
                            &:nth-child(3) {
                                left: -8px;
                            }
                            &:nth-child(4) {
                                left: 42px;
                            }
                            &:nth-child(5) {
                                left: 62px;
                            }
                            &:nth-child(6) {
                                left: 77px;
                            }
                        }
                    }
                }
            }
    
            .addInputsHead {
                .addInputs {
                    width: 317px;
                    .errors {
                        padding: 0px 20px;
                    }
                    .buttons {
                        padding: 0px 16px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1650px) {
    .header {
        .main {
            .contacts {
                width: 1300px;
                .headTitles {
                    .headTitles_text {
                        position: relative;
                        &:nth-child(1) {
                            left: 20px;
                        }
                        &:nth-child(2) {
                            left: 20px;
                        }
                        &:nth-child(3) {
                            left: 70px;
                        }
                        &:nth-child(4) {
                            left: 75px;
                        }
                        &:nth-child(5) {
                            left: 50px;
                        }
                        &:nth-child(6) {
                            left: -10px;
                        }
                    }
                }
    
                .contactInner {
                    .contact {
                        .checkbox {
                            position: relative;
                            left: 15px;
                        }
    
                        .contactInfo {
                            position: relative;
                            margin: 0;
                            font-size: 14px;
                            width: 100px;
                            text-align: left;
                            &:nth-child(2) {
                                left: 6px;
                            }
                            &:nth-child(3) {
                                left: -2px;
                            }
                            &:nth-child(4) {
                                left: 46px;
                            }
                            &:nth-child(5) {
                                left: 59px;
                            }
                            &:nth-child(6) {
                                left: 70px;
                            }
                        }
                    }
                }
            }
    
            .addInputsHead {
                .addInputs {
                    width: 325px;
                    .errors {
                        padding: 0px 20px;
                    }
                    .buttons {
                        padding: 0px 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1400px) {
    .header {
        .main {
            .contacts {
                width: 1000px;
                .headTitles {
                    .headTitles_text {
                        position: relative;
                        &:nth-child(1) {
                            left: 0px;
                        }
                        &:nth-child(2) {
                            left: 20px;
                        }
                        &:nth-child(3) {
                            left: 70px;
                        }
                        &:nth-child(4) {
                            left: 75px;
                        }
                        &:nth-child(5) {
                            left: 50px;
                        }
                        &:nth-child(6) {
                            left: 5px;
                        }
                    }
                }
    
                .contactInner {
                    .contact {
                        .checkbox {
                            position: relative;
                            left: 5px;
                        }
    
                        .contactInfo {
                            position: relative;
                            margin: 0;
                            font-size: 14px;
                            width: 100px;
                            text-align: left;
                            &:nth-child(2) {
                                left: 6px;
                            }
                            &:nth-child(3) {
                                left: 9px;
                            }
                            &:nth-child(4) {
                                left: 50px;
                            }
                            &:nth-child(5) {
                                left: 56px;
                            }
                            &:nth-child(6) {
                                left: 60px;
                            }
                        }
                    }
                }
            }
    
            .addInputsHead {
                .addInputs {
                    width: 325px;
                    .errors {
                        padding: 0px 20px;
                    }
                    .buttons {
                        padding: 0px 17px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1360px) {
    .header {
        .main {
            .contacts {
                width: 1000px;
                .headTitles {
                    .headTitles_text {
                        position: relative;
                        &:nth-child(1) {
                            left: 0px;
                        }
                        &:nth-child(2) {
                            left: 20px;
                        }
                        &:nth-child(3) {
                            left: 70px;
                        }
                        &:nth-child(4) {
                            left: 75px;
                        }
                        &:nth-child(5) {
                            left: 50px;
                        }
                        &:nth-child(6) {
                            left: 5px;
                        }
                    }
                }
    
                .contactInner {
                    .contact {
                        .checkbox {
                            position: relative;
                            left: 5px;
                        }
    
                        .contactInfo {
                            position: relative;
                            margin: 0;
                            font-size: 14px;
                            width: 100px;
                            text-align: left;
                            &:nth-child(2) {
                                left: 14px;
                            }
                            &:nth-child(3) {
                                left: 13px;
                            }
                            &:nth-child(4) {
                                left: 50px;
                            }
                            &:nth-child(5) {
                                left: 54px;
                            }
                            &:nth-child(6) {
                                left: 55px;
                            }
                        }
                    }
                }
            }
    
            .addInputsHead {
                .addInputs {
                    width: 315px;
                    .errors {
                        padding: 0px 20px;
                    }
                    .buttons {
                        padding: 0px 17px;
                    }
                }
            }
        }
    }
}